/* CTRL + F @TODO to find things that need to be done */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');

@keyframes animate{
    0%,100%{ clip-path: inset(0px 0px 215px 0px) }
    25%{ clip-path: inset(0px 0px 0px 215px ) }
    50%{ clip-path: inset(215px 0px 0px 0px) }
    75%{ clip-path: inset(0px 215px 0px 0px) }
}
@keyframes fadeIn {
    0%{ transform: translateY(200px); }
    100% { transform: translateY(0); }
}
/* Animation for when the page finishes loading */
@keyframes onLoad {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}
.onload{
    opacity: 0;
}
.loadAnimation{
    transition: 1s;
    opacity: 1;
}
body{
    overflow-x: hidden;
    background-color: black;
}
.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
}
.return, .return-border{
    --edge-size: 0.5em;
    z-index: 4;
    position: absolute;
    height: 35px;
    width: 150px;
    background-color: #101424;
    text-align: center;
    color: white;
    clip-path: polygon(
        var(--edge-size) 0%,
        100% 0,
        100% calc(100% - var(--edge-size)),
        calc(100% - var(--edge-size)) 100%,
        0 100%,
        0% var(--edge-size)
    );
    transition: clip-path 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.return-border{
    height: 37px;
    width: 152px;
    background-color: rgb(184, 173, 173);
    top: 5%;
    left: 93%;
    transform: translate(-50%, -50%);
}
.return-border:hover .return, .return-border:hover {
    cursor: pointer;
    clip-path: polygon(
        0 0%,
        100% 0,
        100% calc(100% - var(--edge-size)),
        100% 100%,
        0 100%,
        0% var(--edge-size)
    );
}
#background{
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1 ;
    filter: blur(10px);
}
.art{
    margin-top: 100px;
    position: relative;
    height: 700px;
    width: auto;
}
.championSplashArt{
    height: 100%;
    background-size: cover;
    z-index: 2;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 50%);
    z-index: 3;
}
.bgOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.452);
    z-index: 0;
}
.championInfo{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    text-align: center;
    color: white;
    z-index: 4;
    line-height: 80px;
    width: max-content;
    font-style: italic;
}
.championInfo h1{
    font-size: 80px;
}
.championInfo h2{
    font-size: 48px;
}
.lore{
    transform: translateY(-20px);
    width: 1000px;
    height: auto;
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blurb{
    color: rgb(253, 253, 253);
    padding: 20px;
    font-size: 18px;
    position:relative;
}
.blurb:before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    width: 20%;
    border: 2px solid #d8d8d8;
    border-right:none;
    border-bottom: none;
    z-index:1;
}
.blurb:after{
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom:-2px;
    width: 35%;
    border: 2px solid #d8d8d8;
    border-left:none;
    border-top: none;
    z-index:1;
}
/* Ability styling */
.hero-details{
    height: 70vh;
    width:auto;
    background-color: black;
}
.hero-details h1{
    color: white;
}
.abilities-container{
    height: 500px;
    display: flex;
    align-items: center;
}
.abilities-container h1{
    transform: translate(200px, -100px);
    font-size: 54px;
    font-style: italic;
}
.abilities{
    margin-top: 250px;
    gap: 10px;
    flex-direction: column;
}
.ability-icon > *{
    transition: 0.3s ease;
    height: 65px;
    width: 65px;
    box-sizing: content-box;
    border-spacing: 20px;
    padding: 10px;
}
.ability-icon > *:hover{
    cursor: pointer;
}
.ability-info{
    width: 600px;
    height: 200px;
    color: white;
    margin-top: 20px;
    padding: 0px 30px;
    transition: all 0.5s; 
    opacity: 1;
    animation: fadeIn 1s;
}
.ability-name{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
}
.ability-stats{
    padding-top: 10px;
    display: flex;
    gap: 50px;
    color: grey;
}
.ability-stats i{
    font-size: 20px;
}
.fa-square{
    color: rgba(26, 125, 255, 0.89);
}
.fade-in{
    opacity: 0; 
}
/* Skins styling */
.skins{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skins h1{
    color: white;
    font-size: 54px;
    font-style: italic;
    transform: translateX(-500px);
    margin-bottom: 20px;
}
.skin-container{
    display: flex;
    height: 80%;
    width: 1400px;
    overflow-y: hidden;
    background-size: cover;
}
.swiper{
    background-color: #081238be;
    width: 320px;
}
.swiper-wrapper{
    height: 80px;
}
.swiper-slide{
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 90px !important;
    text-align: center;
    color: white;
}
.swiper-slide:hover{
    cursor: pointer;
}
.skin-splash{
    width: 100%;
}